.nav-text{
    font-size: x-large;
    font-family: Comic Sans MS;
    color:white;
}
.size{
    font-size: xx-large;
    font-family: Comic Sans MS;
    color:white;
}
@media (max-width: 1000px) {
    .nav-text {
        font-size: 2vw;
    }
}
@media (max-width: 1000px) {
    .size {
        font-size: 3vw;
    }
}

.trans-color{
    background-color: rgba(0, 0, 0, 0.4); 
}
.transparent-color{
    background-color: rgba(0, 0, 0, 0.7); 
}
.background-image {
    width: 40%;
    height: auto;
    z-index: -1; 
    }
.section
{
    height: 100vh;
    margin: 0;
}
.btn-close {
    background-color: #ffffff; /* Light color */
    border-radius: 5px;
    padding: 8px;
  }

.modal-header {
    border-bottom: none;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ars {
    background-image: url("ars.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Adjust height as needed */
}
.vg {
    background-image: url("vp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Adjust height as needed */
}
.lib {
    background-image: url("lib.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto; /* Adjust height as needed */
}
.nav-link:hover {
    color: black !important;
  }


