.nav-text{
    font-size: x-large;
    font-family: Comic Sans MS;
    color:white;
}
.size{
    font-size: xx-large;
    font-family: Comic Sans MS;
    color:white;
}
@media (max-width: 576px) {
    .size {
        font-size: large; /* Adjust font size for even smaller screens */
    }
}
.trans-color{
    background-color: rgba(0, 0, 0, 0.4); 
}
.background-image {
    width: 40%;
    height: auto;
    z-index: -1; 
    }
.section
{
    height: 100vh;
    margin: 0;
}
.btn-close {
    background-color: #ffffff; /* Light color */
    border-radius: 5px;
    padding: 8px;
  }
.modal-header {
    border-bottom: none;
}

