.nav-text{
    font-size: 2vw;
    font-family: Comic Sans MS;
    color:white;
}
.size{
    font-size: 2vw;
    font-family: Comic Sans MS;
    color:white;
}
@media (max-width: 1000px) {
    .nav-text {
        font-size: 4vw;
    }
}
@media (max-width: 1000px) {
    .size {
        font-size: 4vw;
    }
}

.trans-color{
    background-color: rgba(0, 0, 0, 0.4); 
}
.transparent-color{
    background-color: rgba(0, 0, 0, 0.7); 
}
.background-image {
    width: 40%;
    height: auto;
    z-index: -1; 
    }
    .section {
        overflow: hidden;
        min-height: 100vh; /* Ensure section is at least full height */
    }
.btn-close {
    background-color: #ffffff; /* Light color */
    border-radius: 5px;
    padding: 8px;
  }

.modal-header {
    border-bottom: none;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    color: black !important;
  }
  .background1 {
    background-image: url('/1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
  }
 

